body {
    background-color: #000; /* black, #000 #000000 rgba(0,0,0,0.5)*/
    color: rgb(145, 144, 144);
}

#titulo1 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: coral;
    font-family: 'Staatliches', cursive;
}

#video1 {
    position: fixed;
    z-index: -100;
    width: 100%;
}

.parrafoazul {
    color: red;
    text-align: center;
}

#fotoPrincipal {
    width: 300px;
    border-radius: 30px;
}

.sombra {
    -webkit-box-shadow: -2px 10px 14px 7px rgba(0,0,0,0.73); 
    box-shadow: -2px 10px 14px 7px rgba(255,0,100,0.75), 12px -40px 20px 5px rgba(0,0,250,0.75);
}

.cajita {
    border: 5px yellow dashed;
    border-left-color: red;
    padding: 60px;
    margin: 30px;
}